.footer {
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid brown;
}

.sitemap {
  display: inline-block;
  width: 40%;
}

.sitemapBorder {
  width: fit-content;
  margin: 1rem 0 1rem 13rem;
  border: 2px solid brown;
  border-radius: 5px;
}

.sitemapBorder h2 {
  color: black;
  text-align: left;
  padding: 1rem 3rem !important;
}

.sitemapBorder h2 span {
  text-decoration-line: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.3rem;
  text-decoration-color: brown;
}

.sitemapBorder ul {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
  padding: 0 1.5rem;
}

.sitemapBorder ul li {
  margin: 0.6rem 0.8rem;
  font-weight: bolder;
  font-size: 0.8rem;
  color: brown;
  text-transform: uppercase;
}

.footer hr {
  display: none;
}

.rightPart {
  display: inline-block;
  width: 60%;
  text-align: left;
}

.rightPart blockquote {
  font-size: 0.7rem;
  font-weight: bolder;
  color: brown;
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5rem;
}

.socialIcons svg {
  border: .6px solid brown !important;
  border-radius: 0.5rem;
  padding: 0.2rem !important;
  height: 3rem;
  width: 3.2rem;
}

.socialIcons svg:hover {
  transform: rotate(360deg);
  transition: 1000ms;
}

.copyright {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: brown;
  background-color: black;
  padding: 0.5rem 0;
}

@media screen and (max-width: 1024px) {
  .sitemap {
    display: block;
    width: 100%;
  }

  .sitemapBorder {
    margin: 0 auto;
    width: 60%;
  }

  .sitemapBorder h2 {
    text-align: left;
    padding: 0 0 1rem 2rem !important;
  }

  .sitemapBorder h2 span {
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.3rem;
    margin-bottom: 2rem;
  }

  .sitemapBorder ul {
    text-align: left;
    padding-left: 2rem;
  }

  .sitemapBorder ul li {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }

  .footer hr {
    display: block;
  }

  .rightPart {
    display: block;
    width: 100%;
    text-align: left;
  }

  .rightPart blockquote {
    margin: 1rem 0;
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
  }

  .socialIcons svg {
    padding: 0.2rem !important;
  }

  .copyright {
    text-align: center;
    font-size: 0.5rem;
    line-height: 1;
    margin: 1rem auto;
  }
}
