.navbar {
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 8rem;
}

.brand {
  display: flex;
  align-items: center;
  border: 1.6px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: .1rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.links li {
  list-style: none;
  padding: 0 1.2rem;
  letter-spacing: 0.3rem;
  transform: scale(0.9, 1.1);
}


.links li a{
  color: rgb(131, 27, 27);
text-decoration: none;
}

.links li:hover {
  transform: translateY(-1px);
  transition: 400ms;
  color: rgb(0, 0, 0);
}

.links li span {
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.12rem;
  text-decoration-color: rgb(0, 0, 0);
}

.links li span:hover {
  text-decoration-line: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    height: 5rem;
    padding: 0.3rem 0;
    margin-left: .5rem;
  }

  .brand {
    color: #1b4f72;
    font-size: 1rem;
    padding: 0;
    height: fit-content;
    border: 0.1px solid #1b4f72;
  }

  .brand span {
    padding: 0;
    max-width: 100%!important;
  }

  .links {
padding-left: .1rem;
  }

  .links li {
    padding: 0 0.25rem;
    letter-spacing: 0.03rem;
    transform: scale(0.9, 1.1);
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .links li span {
    text-decoration-line: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.08rem;
  }

  .links li span:hover {
    text-decoration-line: none;
  }
}
