.services {
  display: block;
  background-color: #100f0f;
  padding: 2rem 1rem;
}

.services h2 {
  color: #ffffff;
  text-align: center;
}

.servicesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  background-color: rgb(240, 233, 233);
  padding: 2rem;
  margin: 1rem;
  border: 1px solid rgb(70, 7, 7);
  border-radius: 0.3rem;
}

.listItem:hover {
  transform: scale(1.03);
  transition: 600ms;
  background-color: rgb(255, 255, 255);
}

.listItem a,
.listItem a span {
  width: 100%;
}

.listItem a img {
  display: block;
  max-width: 100%;
  border: 5px solid #fff !important;
}

.listItem h5 {
  color: #0d4e79;
  margin: 0 auto;
  margin-bottom: .6rem;
  text-align: center;
  font-size: 1.3rem;
  height: 4rem;
}

.toolsBtn {
  display: flex;
  justify-content: center;
}

.toolsBtn button {
  margin: 0.5rem;
  background-color: rgb(208, 211, 216);
  border: 0.2px solid rgb(199, 198, 198);
  color: rgb(69, 109, 119);
  border-radius: 0.8rem;
  font-size: 0.7rem;
  padding: 0.2rem 0.3rem;
}

@media screen and (max-width: 1024px) {
  .services {
    padding: 1rem 0.5rem;
  }

  .services h2 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .services h2 span {
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
  }

  .listItem {
    width: 90%;
    padding: 0.7rem;
    margin: 0.4rem;
  }

  .listItem a img {
    border: 3px solid #fff !important;
  }

  .listItem h5 {
    margin: 0.4rem auto;
    font-size: 1.2rem;
  }

  .toolsBtn button {
    margin: 0.2rem;
    font-size: 0.55rem;
    padding: 0.08rem 0.2rem;
  }
}
